.M_Card {
  width: 21vw;
  height: 21vw;
  border-radius: 20px;
  background-color: var(--white);
  padding: 2.5vw 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &.unactive {
    cursor: auto;
  }
  &.unactive:hover {
    opacity: 0.4;
  }
  &.sokol:hover {
    background-color: var(--sokol);
  }
  &.zamos:hover {
    background-color: var(--zamos);
  }
  &.arbat:hover {
    background-color: var(--arbat);
  }
  &.filev:hover {
    background-color: var(--filev);
  }
  &.kolic:hover {
    background-color: var(--kolic);
  }
  &.kalug:hover {
    background-color: var(--kalug);
  }
  &.tagan:hover {
    background-color: var(--tagan);
  }
  &.solnc:hover {
    background-color: var(--solnc);
  }
  &.serpy:hover {
    background-color: var(--serpy);
  }
  &.lubli:hover {
    background-color: var(--lubli);
  }
  &.BKL:hover {
    background-color: var(--BKL);
  }
  &.MCC:hover {
    background-color: var(--MCC);
  }
  &.nekra:hover {
    background-color: var(--nekra);
  }
  &.arch:hover {
    background-color: var(--MCC);
  }
  &.tech:hover {
    background-color: var(--BKL);
  }
  &.hist:hover {
    background-color: var(--kalug);
  }
  &.art:hover {
    background-color: var(--serpy);
  }
  &.info:hover {
    background-color: var(--filev);
  }
  &.event:hover {
    background-color: var(--tagan);
  }
  &.life:hover {
    background-color: var(--sokol);
  }
}
.M_Card:hover {
  color: white;
  .A_Tags {
    border-color: var(--white);
  }
}
.M_MenuPoints {
  display: flex;
  gap: 5px;
}

.M_Title {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.M_Filters {
  margin: 4vh;
  margin-left: -6vw;
  overflow-x: hidden;
  width: calc(100% + 12vw);
  border-bottom: 2px solid white;
  ul {
    display: flex;
    gap: 3vw;
    justify-content: space-between;
    margin-right: 7vw;
    padding-left: 6vw;
  }
  li {
    padding-bottom: 8px;
    &.active {
      font-weight: bolder;
      color: var(--kalug);
    }
    cursor: pointer;
  }
}
.M_CardStationOfTheDay {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 3vw;
  object-fit: cover;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100%;
  height: 350px;
  background-color: var(--white);
  border-radius: 20px;
}

.M_FiltersPoints {
  margin: 4vh;
  margin-left: -6vw;
  overflow-x: hidden;
  width: calc(100% + 12vw);
  padding-bottom: 1vh;
}
.M_FiltersPoints_inside {
  display: flex;
  gap: 4vw;
  margin-left: 6.5vw;
}

.M_Text {
  margin-left: 24vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 10vh;
}
.M_Text + img {
  margin-top: 3vh;
}
