.M_Card {
  width: 21vw;
  height: 21vw;
  border-radius: 20px;
  background-color: var(--white);
  padding: 2.5vw 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &.unactive {
    cursor: auto;
  }
  &.unactive:hover {
    opacity: 0.4;
  }
  &.sokol:hover {
    background-color: var(--sokol);
    color: white;
    .A_Tags {
      border-color: var(--white);
    }
  }
  &.zamos:hover {
    background-color: var(--zamos);
  }
  &.arbat:hover {
    background-color: var(--arbat);
    color: white;
    .A_Tags {
      border-color: var(--white);
    }
  }
  &.filev:hover {
    background-color: var(--filev);
  }
  &.kolic:hover {
    background-color: var(--kolic);
    color: white;
    .A_Tags {
      border-color: var(--white);
    }
  }
  &.kalug:hover {
    background-color: var(--kalug);
    color: white;
    .A_Tags {
      border-color: var(--white);
    }
  }
  &.tagan:hover {
    background-color: var(--tagan);
    color: white;
    .A_Tags {
      border-color: var(--white);
    }
  }
  &.solnc:hover {
    background-color: var(--solnc);
    color: white;
    .A_Tags {
      border-color: var(--white);
    }
  }
  &.serpy:hover {
    background-color: var(--serpy);
  }
  &.lubli:hover {
    background-color: var(--lubli);
  }
  &.BKL:hover {
    background-color: var(--BKL);
    color: white;
    .A_Tags {
      border-color: var(--white);
    }
  }
  &.MCC:hover {
    background-color: var(--MCC);
  }
  &.nekra:hover {
    background-color: var(--nekra);
    color: white;
    .A_Tags {
      border-color: var(--white);
    }
  }
}
.M_MenuPoints {
  display: flex;
  gap: 5px;
}
.M_Title {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.M_Filters {
  margin-top: 4vh;
  margin-left: -6vw;
  overflow-x: auto;
  width: 100vw;
  ul {
    display: flex;
    gap: 3vw;
    width: 200vw;
    padding-left: 6vw;
    border-bottom: 3px solid var(--white);
  }
  li {
    padding-bottom: 8px;
    &.active {
      border-bottom: 3px solid var(--black);
    }
  }
}
.M_Filters::-webkit-scrollbar {
  width: 0;
}
.M_CardStationOfTheDay {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 3vw;
  object-fit: cover;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100%;
  height: 350px;
  background-color: var(--white);
  border-radius: 20px;
}
