.O_Section_StationCards {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
.O_FullArticleSection {
  display: flex;
  margin-bottom: 10vh;
  gap: 2vw;
}
.O_SectionNews {
  margin-bottom: 10vh;
  .W_ArticleCard {
    margin-top: 5vw;
  }
}
.O_SectionChrono {
  margin-bottom: 10vh;
}
.O_Footer {
  margin-left: -4vw;
  background-color: var(--kalug);
  color: var(--white);
  height: 40vh;
  margin: 0 -6vw;
  padding: 6vh 7vw;
  margin-top: 10vh;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .UniversityInfo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    p {
      width: max-content;
    }
  }
  .ProjectLinks {
    display: flex;
    justify-content: space-between;
    .Icons {
      display: flex;
      gap: 1vw;
      padding-top: 1vh;
    }
    .Content {
      width: 50vw;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      img {
        margin-right: 6vw;
      }
      .big {
        margin-bottom: 0.5vh;
      }
      a {
        color: var(--white);
        font-size: 1.25vw;
        line-height: 110%;
        font-weight: 400;
        text-transform: none;
      }
      div {
        width: 10vw;
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
      }
    }
  }
}
.O_CatalogeCollection {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.O_Chrono {
  margin-top: 5vh;
  display: flex;
  gap: 6vw;
  height: 75vh;
}
.O_StationHeading {
  background-color: var(--black);
  border-radius: 20px;
  padding: 8vh 6vw;
  margin-left: -6vw;
  margin-right: -6vw;
  margin-bottom: 5vh;
}
.O_ArticleHeading {
  border-radius: 20px;
  padding: 8vh 6vw;
  margin-left: -6vw;
  margin-right: -6vw;
  margin-bottom: 5vh;
  h2 {
    width: 50vw;
  }
  h2 + p {
    margin-left: 24vw;
    margin-top: 3vh;
  }
}
