@media screen and (min-device-width: 1024px) {
  .W_ChronoCard {
    height: 33vh;
  }
}
@media only screen and (max-device-width: 1024px) {
  h1 {
    font-weight: normal;
  }

  span {
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
    &.light {
      font-weight: normal;
    }
  }

  h3 {
    font-weight: normal;
  }

  p {
    font-weight: normal;
    &.big {
      font-weight: normal;
    }
    &.mini {
      font-weight: normal;
    }

    &.button {
      font-weight: normal;
    }
  }

  a {
    font-weight: normal;
    p {
      font-weight: normal;
    }
  }
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    padding: 7vh 3vw;
  }
  .A_MenuPoint {
    height: 5vh !important;
  }
  .A_Point {
    height: 5vh !important;
  }
  .A_PointActive {
    height: 5vh !important;
  }
  p {
    font-size: 1.5vh;
    line-height: 1.55vh;
    width: 43vw;
  }
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
  span {
    font-size: 7vw;
  }
  a p {
    font-size: 1.5vh;
  }
  p {
    &.mini {
      font-size: 1.75vw;
    }
    &.button {
      font-size: 2.5vw;
    }
  }

  .Q_TitleImage {
    height: 50vh;
  }
  .W_Menu {
    top: 4vh !important;
  }
  .M_Card {
    width: 43vw !important;
    height: 40vw !important;
    padding: 4.5vw 4vw !important;
  }
  .W_CardsArticleCollection {
    flex-wrap: wrap;
    row-gap: 2vh;
  }
  .W_ArticleCard {
    width: 87.5vw !important;
    height: 30vh !important;
    padding: 4.5vw 4vw !important;
  }
  .W_ImageArticleBlock p {
    font-size: 3vw;
    line-height: 3.2vw;
  }
  .O_FullArticleSection {
    flex-direction: column;
    row-gap: 3vh;
  }
  .Q_ImageArticleCover {
    width: 100%;
    height: 20vh;
  }
  .Q_ImageArticleAdditional {
    &.two_col {
      width: 15vw;
      height: 15vw;
    }
    &.six_col {
      width: 56vw;
      height: 15vw;
    }
  }
  .Q_Line {
    width: 23vw;
    &.long {
      width: 50vw;
    }
  }
  .A_ArticleBody {
    margin-top: 2vh;
    p:nth-child(1) {
      width: 30vw;
    }
    p:nth-child(2) {
      width: 40vw;
    }
  }
  .A_Button {
    padding: 20px;
    padding-left: 40px;
    .Q_Arrow {
      width: 4vw;
      height: 4vw;
    }
  }
  .W_InfoAfticleSection {
    gap: 10vh !important;
  }
  .Q_RunningLine {
    height: 30vh;
    margin-top: -13vh;
    margin-bottom: -5vh;
  }
  .W_CardsChronoCollection {
    flex-direction: column;
    img {
      width: 100% !important;
    }
  }
  .W_ChronoCard {
    h3 {
      width: 50vw !important;
    }
    .W_ChronoCardImage {
      margin-top: 3vh !important;
    }
    width: 100% !important;
    margin-top: 3vh;
    .Q_Arrow {
      width: 5vw !important;
      height: 5vw !important;
    }
  }
  .O_Footer {
    margin-top: 0vh !important;
    height: 30vh !important;
    .Q_Logo {
      width: 15vw !important;
      height: 3vh !important;
    }
    .Content {
      width: 60vw !important;
    }
    .Content div:nth-child(1) {
      margin-right: 4vw;
    }
  }
  .O_Footer .ProjectLinks .Content a {
    font-size: 1.5vw !important;
  }
  .M_CardStationOfTheDay {
    height: 30vh;
    h2 {
      width: 50vw;
    }
  }
  .M_FiltersPoints_inside {
    gap: 0;
    width: 87vw;
    justify-content: space-between;
  }
  .Q_FilterPoint {
    width: 4vw;
    height: 4vw;
  }
  .W_CardsCollection {
    margin-bottom: 10vh;
  }
  .M_Filters li {
    font-size: 1.75vw !important;
  }
  .Q_Point {
    width: 3.5vw;
    height: 3.5vw;
  }
  .W_ChronoPointsCollection {
    &.century {
      p {
        width: 10vw;
      }
    }
  }
  .W_ChronoLine {
    align-items: center;
  }
  .W_ChronoLine p {
    width: 6.5vw;
  }
  .W_ChronoLine.century {
    margin-left: -7vw;
  }
  .O_Chrono {
    flex-direction: column;
    height: 85vh !important;
  }
  .W_ChronoContent {
    .A_ArticleBody {
      margin-left: 10.75vw;
      &.column {
        p {
          width: 60vw !important;
        }
      }
    }
  }
  .Q_Logo {
    width: 12vw;
    height: 3vw;
  }
  .Q_Search {
    width: 3vw;
    height: 3vw;
  }
}
