.articles {
  overflow-x: hidden;
  .header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .div1 {
      grid-area: 2 / 1 / 4 / 3;

      .card {
        margin-left: 10vw;
        background-image: url(./images/articles/card_header.png);
      }
    }
    .div2 {
      grid-area: 1 / 3 / 3 / 6;
      .card_news {
        width: 100%;
        background-image: url(./images/articles/card_new_bg_1.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 21vh;
        padding: 1.5vw;
        color: var(--white);
        button {
          margin-left: 77%;
        }
      }
    }
  }
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .div3 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .div4 {
      grid-area: 1 / 4 / 2 / 5;
    }
    .div5 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .div6 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .div7 {
      grid-area: 2 / 3 / 3 / 4;
    }
    .div8 {
      grid-area: 2 / 4 / 3 / 5;
    }
  }
}
