.navigation {
  background-color: var(--white);
  margin: 0vh -2vw;
  padding: 1vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  z-index: 1000;

  .menu {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8vw;
  }
}
.card {
  background-image: url(../images/tiser/first_card_bg.svg);
  width: 28vw;
  height: 24vh;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2.5vw;
  color: var(--white);
  img {
    margin-bottom: -1.5vw;
    margin-left: -1.5vw;
  }
}
button {
  background-color: var(--orange);
  border: 0px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 8px 8px 36px;
  gap: 16px;
  color: var(--white);
}
button:hover {
  background-color: var(--black);
}
