.navigation {
  background-color: var(--white);
  margin: 0vh -2vw;
  padding: 1vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  z-index: 1000;
  #burger {
    display: none;
  }
  #logo {
    cursor: pointer;
  }
  .menu {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8vw;
  }
}

.card {
  width: 28vw;
  height: 24vh;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2.5vw;
  color: var(--white);
  img {
    margin-bottom: -1.5vw;
    margin-left: -1.5vw;
  }
}
button {
  background-color: var(--orange);
  border: 0px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 8px 8px 36px;
  gap: 16px;
  color: var(--white);
  cursor: pointer;
}
button:hover {
  background-color: var(--black);
}
button.secondary {
  background-color: var(--white);
  color: var(--black);
}
button.secondary:hover {
  background-color: var(--black);
  color: var(--white);
}
.cards {
  display: grid;
  margin: 0 - 2vw;
  grid-column-gap: 0.25vw;
  grid-row-gap: 0.25vw;
  height: 90vh;
  margin-top: 20vh;
  div {
    background-color: var(--black);
    border-radius: 20px;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw;
  }
  div + img {
    margin-bottom: 4vh;
  }
}

.footer {
  color: var(--white);
  background-color: var(--orange);
  height: 40vh;
  margin: 0 -2vw;
  padding: 6vh 2vw;
  margin-top: 10vh;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .info {
    display: flex;
    justify-content: space-between;
  }
  .content {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    p {
      margin-bottom: 1vh;
    }
    img {
      margin-top: -1vh;
    }
  }
  .icons {
    display: flex;

    gap: 1vw;
    img {
      height: 3vw;
      width: 3vw;
      border-radius: 0;
    }
  }
  .names {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.filters {
  position: absolute;
  width: 200vw;
  margin-top: 10vh;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    overflow-y: hidden;
    gap: 2vw;
  }
  li {
    padding: 0.7vw 1.4vw;
    border-radius: 20px;
    background-color: var(--black);
    color: var(--white);
  }
}
