html {
  font-size: 18px;
}
body {
  font-family: 'Pragmatica';
}
h1 {
  font-size: 5vw;
  line-height: 5.5vw;
  font-weight: normal;
  text-transform: uppercase;
}
span {
  font-family: 'Pragmatica';
  font-size: 5vw;
  line-height: 5vw;
  font-weight: normal;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 3vw;
  line-height: 103%;
  font-weight: bolder;
  &.light {
    font-weight: normal;
  }
}
h3 {
  font-size: 2.25vw;
  line-height: 100%;
  font-weight: bolder;
  + .Q_Line {
    margin-left: 16px;
  }
  &.article {
    margin-left: 24vw;
  }
}
img + h3 {
  margin-top: 5vh;
}
div + h3 {
  margin-top: 5vh;
  width: 27vw;
}
p {
  font-size: 1.25vw;
  line-height: 1.4vw;
  font-weight: 400;
  width: 30vw;
  &.big {
    font-size: 1.5vw;
    line-height: 110%;
    font-weight: bolder;
  }
  &.mini {
    font-size: 1vw;
    line-height: 110%;
    font-weight: 400;
    width: fit-content;
  }
  &.button {
    font-size: 1.5vw;
    line-height: 1.6vw;
    font-weight: bold;
    text-transform: lowercase;
    width: fit-content;
    &.white {
      color: var(--white);
    }
  }
}

a {
  line-height: 110%;
  font-weight: 500;
  text-transform: lowercase;
  color: var(--black);
  text-decoration: none;
  p {
    font-size: 1.25vw;
    line-height: 110%;
    font-weight: 500;
    text-transform: lowercase;

    text-decoration: none;
    width: auto;
  }
}
