@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/prg45.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/prg55.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/prg46.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/prg56.woff2') format('woff2');
  font-weight: bolder;
  font-style: italic;
}
html {
  font-size: 18px;
}
body {
  font-family: 'Pragmatica';
}
h1 {
  font-size: 76px;
  line-height: 115%;
  font-weight: normal;
  text-transform: uppercase;
}
span {
  font-family: 'Pragmatica';
  font-size: 76px;
  line-height: 97%;
  font-weight: normal;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 47px;
  line-height: 103%;
  font-weight: 500;
}
h3 {
  font-size: 30px;
  line-height: 100%;
  font-weight: bolder;
  + .Q_Line {
    margin-left: 16px;
  }
}
p {
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
  width: 30vw;
  &.big {
    font-size: 24px;
    line-height: 110%;
    font-weight: 400;
  }
  &.mini {
    font-size: 14px;
    line-height: 110%;
    font-weight: 400;
    width: fit-content;
  }
  &.button {
    font-size: 24px;
    line-height: 31px;
    font-weight: bold;
    text-transform: lowercase;
    width: fit-content;
  }
}
a {
  font-size: 1rem;
  line-height: 110%;
  font-weight: 500;
  text-transform: lowercase;
  color: var(--black);
  text-decoration: none;
}
a:hover {
  color: var(--orange);
}
