@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/Pragmatica-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/Pragmatica-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
