body.form {
  width: 90%;
  height: 150%;
}

body.form {
  background-color: var(--bg-dark);
  margin: 0 auto;
}

.svg {
  width: 30vw;

  &:hover {
    content: url('./images/card-dark-hover.svg');
  }
}

.svg-5 {
  &:hover {
    content: url('./images/ticket-hover.svg');
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 30px;

  & > a {
    color: var(--white);
    text-decoration: none;
    margin-left: 2vw;
    font-size: 3vw;

    &:hover {
      opacity: 0.6;
    }
  }
}

.svgs {
  position: relative;
  top: 7vw;
  left: -5vw;
}

.svgContainer {
  width: min-content;
  position: absolute;

  &:hover {
    z-index: 100;
  }

  .svg-text {
    font-family: 'Inter', sans-serif;
    inline-size: 85%;
    font-size: 2vw;
    color: var(--white);
    position: absolute;
    opacity: 0;
    top: 9vw;
    left: 15%;
  }
}

.container-1 {
  rotate: 30deg;
  left: 60vw;
  z-index: 3;
}

.container-2 {
  left: 10vw;
  rotate: -30deg;
  z-index: 1;
  .svg-text {
    left: 10%;
  }
}

.container-3 {
  left: 35vw;
  rotate: -8deg;
  z-index: 2;
  .svg-text {
    left: 10%;
  }
}

.container-4 {
  left: 15vw;
  top: 17vw;
  rotate: 12deg;
  z-index: 4;
  .svg-text {
    left: 10%;
  }
}

.container-5 {
  left: 45vw;
  top: 20vw;
  rotate: 12deg;
  z-index: 0;
}

.headline {
  width: 100%;
  position: relative;
  top: 42vw;
  z-index: 100;
  display: flex;
  flex-direction: column;

  .subheadline {
    font-size: 3vw;
    color: var(--white);
    text-transform: uppercase;
    align-self: flex-end;
    margin-top: 2vw;
  }
}

.mainform {
  position: relative;
  top: 45vw;
  & > p {
    font-size: 2.8vw;
    color: var(--white);
  }
  .field-with-btn {
    margin-top: 1vw;
    width: 100%;
    display: flex;
    flex-direction: row;

    #fs-frm-inputs {
      width: 85%;

      & > .field {
        width: 97%;
        height: 60px;
        background-color: var(--bg-dark);
        color: var(--white);
        font-size: 2vw;
        border: 2px var(--white) solid;
        padding: 2%;

        &::placeholder {
          font-family: 'Austin Cyr', Helvetica, Arial, sans-serif;
          font-size: 2vw;
          color: var(--white);
          opacity: 25%;
        }
      }
    }

    .btn {
      width: 15%;
      height: 60px;
      font-family: 'Austin Cyr', Helvetica, Arial, sans-serif;
      font-size: 2vw;
      color: var(--white);
      background-color: var(--bg-dark);
      border: 2px var(--white) solid;
      padding: auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .mainform {
    top: 40vw;

    & > p {
      font-size: 5vw;
      text-align: center;
    }

    .field-with-btn {
      flex-direction: column;
      margin-top: 3vw;
    }

    .field-with-btn {
      #fs-frm-inputs {
        width: 100%;

        & > .field {
          width: 100%;
          padding-left: 2vw;

          &::placeholder {
            font-size: 5vw;
          }
        }
      }

      .btn {
        width: 100%;
        margin-top: 3vw;
        font-size: 7vw;
      }
    }
  }

  .headline {
    .subheadline {
      align-self: center;
      font-size: 5vw;
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    // margin-top: 30px;
    margin: 30px auto;

    & > a {
      font-size: 5vw;
    }
  }
}
