.index {
  .W_ChronoCardImage {
    background-image: url(./images/main_page/ChronoCardBg.png);
  }

  #Article {
    background-image: url(./images/main_page/W_ArticleCard_articles.png);
    color: var(--white);
  }
  .fourth {
    position: relative;
    margin: 30vh -6vw;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
