.new_train {
  .W_PageTitle {
    width: 100%;
    height: 44vh;
    background-image: url(./images/articles/train/TitleBg.png);
    margin-bottom: 3vh;
  }
  .TrainContent {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-top: 4vh;
    margin-left: 20vw;
  }
}
