.category_station {
  height: 150vh;
  position: relative;
  display: block;
  overflow-x: hidden;
  .header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10vw;
  }
  .content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 2vh;
  }
  .card {
    background-image: url(./images/stations/card_bg_1.png);
  }
  .filters {
    position: absolute;
    width: 200vw;
    margin-top: 10vh;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: fit-content;
      overflow-y: hidden;
      gap: 2vw;
    }
    li {
      padding: 0.7vw 1.4vw;
      border-radius: 20px;
      background-color: var(--black);
      color: var(--white);
    }
  }
  .cards {
    display: grid;
    margin: 0 - 2vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.25vw;
    grid-row-gap: 0.25vw;
    height: 90vh;
    margin-top: 20vh;
    div {
      background-color: var(--black);
      border-radius: 20px;
      color: var(--white);
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
      padding: 2vw;
    }
    div + img {
      margin-bottom: 4vh;
    }
    .div1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .div3 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .div4 {
      grid-area: 1 / 4 / 2 / 5;
    }
    .div5 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .div6 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .div7 {
      grid-area: 2 / 3 / 3 / 5;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      background-image: url(./images/stations/bg_big_card.jpg);
      background-size: cover;
      div {
        display: flex;
        align-items: flex-start;
        padding: 0 0;
        background-color: transparent;
      }
    }
    .div8 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .div9 {
      grid-area: 3 / 2 / 4 / 3;
    }
    .div10 {
      grid-area: 3 / 3 / 4 / 4;
    }
    .div11 {
      grid-area: 3 / 4 / 4 / 5;
    }
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
