body {
  background-color: var(--white);
  font-family: 'Pragmatica';
  overflow-x: hidden;
}

//*FONTS
h1 {
  font-size: 45px;
  line-height: 77px;
  font-weight: 500;
}
h2 {
  font-size: 40px;
  line-height: 102%;
  font-weight: 400;
}
h3 {
  font-size: 34px;
  line-height: 102%;
  font-weight: 500;
}
p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}
button {
  font-size: 26px;
  line-height: 31px;
  font-weight: 500;
}

//* ELEMENTS
.full_width {
  margin-left: -5vw;
  width: 100vw;
  height: auto;
}

button {
  padding: 30px 60px;
  border-radius: 12px;
  background-color: var(--bkl);
  border-width: 0px;
  color: var(--white);
}
button:hover {
  background-color: var(--black);
  color: var(--bkl);
}
.pointed_text {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.8vw;
}
.point {
  width: 1vw;
  height: 1vw;
  background-color: var(--bkl);
  border-radius: 1.5vw;
}
.line_of_points {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-top: 8vw;
}
.static_icon {
  position: fixed;
  bottom: 8vh;
  right: 5vw;
  display: flex;
  flex-direction: column-reverse;
  gap: 1vw;
  img {
    width: 4vw;
    height: 4vw;
  }
}
.main_icon {
  width: 6.5vw;
  height: auto;
  position: fixed;
  right: 14.5vw;
  top: 8vh;
}
//* Second screen

.second_screen {
  margin-top: 30vh;
  background-image: url('images/tiser/bg_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 28px;
  height: 50vh;
  width: 100%;
  padding: 8vw;
  color: var(--white);
  p {
    margin-top: 2vh;
    width: 60%;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

//* Third Screen

.third_screen {
  margin-top: 30vh;
  height: 1600px;
}

#cards_3 {
  display: flex;
  gap: 5vw;
  position: absolute;
  top: 1870px;
  img {
    width: 40vw;
    height: auto;
    border-radius: 26px;
  }
}

#h1_3 {
  transition: transform 0.25ms linear; /* Уменьшено время анимации */
}
