:root {
  --white: #ffffff;
  --black: #20252f;
  --light-gray: #f6f3ee;
  --sokol: #075f48;
  --zamos: #61c317;
  --arbat: #1690d7;
  --filev: #1ea2dc;
  --kolic: #965f38;
  --kalug: #e94e1b;
  --tagan: #925c89;
  --solnc: #fcb715;
  --serpy: #989898;
  --lubli: #d0ce3c;
  --BKL: #74c0bf;
  --butov: #b5d6ea;
  --MCC: #f1cde9;
  --nekra: #d771bc;
  --birul: #b01453;
  --troick: #075f48;
}
