@import 'stylesheets/reset.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/pages/index.scss';
@import 'stylesheets/components/atoms.scss';
@import 'stylesheets/components/molecules.scss';
@import 'stylesheets/components/wrappers.scss';
@import 'stylesheets/components/organism.scss';

@font-face {
  font-family: 'Pragmatica';
  src: url('./fonts/prg45.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pragmatica';
  src: url('./fonts/prg55.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Pragmatica';
  src: url('./fonts/prg46.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Pragmatica';
  src: url('./fonts/prg56.woff2') format('woff2');
  font-weight: bolder;
  font-style: italic;
}
